= simple_form_for @artist, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = error_span(@artist[:name])
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), artists_path, :class => 'btn btn-default'
